
/* default all pading and margin to 0px*/
*   {
  padding: 0px;
  margin: 0px;
}

body {

}

p {
  font-size: 16px;
}

.wrapper  {
  display: grid;
  grid-template-rows: 1fr auto auto 1fr;
  grid-template-columns: 1fr 8fr;
  grid-template-areas:
  "topnav topnav"
  "display display"
  "body body"
  "footer footer";
}

.topnav {
  background-color: #8D8741;
  padding-top: 16px;
  padding-bottom: 15px;
  grid-area: topnav;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "nav nav"
}

.nav {
  grid-area: nav;
  background-color: #8D8741;
}

/*decorate links in the topnav*/
.nav a {
  text-decoration: none;
  color: #F3E0DC;
  padding: 16px;
  font-size: 17px;
  text-align: center;
}

/*change color of link when hovered over*/
.nav a:hover {
  background-color: #F3E0DC;
  color: black;
}

/*set active link to be blue*/
.nav a.active {
  background-color: #4285F4;
  color: #F3E0DC;
}

/*offset the links from the left edge of the screen*/
.nav a.first {
  margin-left: 40px;
}

.displayUS {
  grid-area: display;
  background-image: url(../img/coal-ren-bg.jpg);
  background-repeat: no-repeat;
  height: 333px;
}

.displayIn {
  grid-area: display;
  background-image: url(../img/india-bg.jpg);
  background-repeat: no-repeat;
  height: 333px;
}

.displayChi {
  grid-area: display;
  background-image: url(../img/three-gorges-dam2.jpg);
  background-repeat: no-repeat;
  height: 333px;
}

.displayGS {
  grid-area: display;
  background-image: url(../img/offshore-wind-farm.jpg);
  background-repeat: no-repeat;
  height: 333px;
  /*https://www.siemens.com/press/pool/de/pressebilder/2009/renewable_energy/300dpi/ERE20080806-10_300dpi.jpg*/
}

.displayLS {
  grid-area: display;
  background-image: url(../img/solar-panel-bg.jpg);
  background-repeat: no-repeat;
  height: 333px;
  /*https://www.siemens.com/press/pool/de/pressebilder/2009/renewable_energy/300dpi/ERE20080806-10_300dpi.jpg*/
}

.displayAnalysis {
  grid-area: display;
  background-image: url(../img/analysis-bg.jpg);
  background-repeat: no-repeat;
  height: 333px;
  /*https://images.unsplash.com/photo-1503350860469-854c1c495118?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=db27e2c2ec23d302b7081fb6902fe81d&auto=format&fit=crop&w=844&q=80*/
}

.titles {
  grid-area: titles;
}

.title {
  font-family: 'Playfair Display', serif;
    font-weight: 900;
    line-height: 46px;
    font-size: 35px;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 20px;
    text-align: center;
}

.subtitle {
  font-family: 'Alice', serif;
   font-size: 18px;
   font-weight: normal;
   line-height: 23px;
   padding: 20px;
   text-align: center;
}

.body {
  background-color: #F3E0DC;
  grid-area: body;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "body1 body2";
}

.body h2 {
  text-align: center;
}

.parabody {
  background-color: #F3E0DC;
  grid-area: body;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "body1";
}

.parabody h2 {
  text-align: center;
}

.body1 {
  border-radius: 25px;
  margin: 40px;
  padding: 10px;
  background-color: #DAAD86;
  grid-area: body1;
}

.body2 {
  border-radius: 25px;
  margin: 40px;
  padding: 10px;
  background-color: #DAAD86;
  grid-area: body2;
}

.footer {
  border-top: solid 1px gray;
  background-color: #FBEEC1;
  grid-area: footer;
  box-shadow: 0 50vh 0 50vh #FBEEC1;
  text-align: center;
  padding-top: 1%;
}

.footer a {
  text-decoration: none;
  color: blue;
}

/*
#8D8741 green
#659DBD blue
#DAAD86 light tan
#BC986A brownish tan
#FBEEC1 really light tan
#F3E0DC cremay white
pic links:

home page pic
https://images.unsplash.com/photo-1451847251646-8a6c0dd1510c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b087e70d55ab588d32bf982c2f281e2f&auto=format&fit=crop&w=889&q=80
<a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Franc
*/
