
/* default all pading and margin to 0px*/
*   {
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url(UN_Electricity_project_backgroundPic.jpg);
}

.wrapper  {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 1fr 8fr;
  grid-template-areas:
  "topbar topbar"
  "sidebar body"
  "footer footer"
}

.topbar {
  grid-area: topbar;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "title search"
}

.title {
  grid-area: title;
  background-color: #8D8741;
  font-family: 'Playfair Display', serif;
    font-weight: 900;
    line-height: 46px;
    font-size: 43px;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.search  {
  background-color: #8D8741;
  grid-area: search;
}

.sidebar {
  background-color: #BC986A;
  grid-area: sidebar;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "sidelink1"
  "sidelink2"
  "sidelink3"
  "sidelink4"
}

.sidebar a {
  background-color: #BC986A;
  text-align: center;
}

.sidebar a:nth-child(odd) {
  background-color: #FBEEC1;
}

.sidelink1 {
  grid-area: sidelink1;
}

.sidelink2 {
  grid-area: sidelink2;
}

.sidelink3 {
  grid-area: sidelink3;
}

.sidelink4 {
  grid-area: sidelink4;
}

.body {
  background-color: #DAAD86;
  grid-area: body;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "body1 body2"
}

.body1 {
  padding: 40px;
  background-color: #DAAD86;
  grid-area: body1;
}

.body2 {
  padding: 40px;
  background-color: #DAAD86;
  grid-area: body2;
}

.footer {
  background-color: #FBEEC1;
  grid-area: footer;
}

/*
#8D8741 green
#659DBD blue
#DAAD86 light tan
#BC986A brownish tan
#FBEEC1 really light tan
#F3E0DC cremay white

pic links:
https://community.simtropolis.com/forums/topic/45219-green-city/



*/
