
/* default all pading and margin to 0px*/
*   {
  padding: 0px;
  margin: 0px;
}

body {
  /*background-image: url(UN_Electricity_project_backgroundPic.jpg);*/
  background-color: #F3E0DC;
}

p {
  font-size: 16px;
}

.wrapper  {
  display: grid;
  grid-template-rows: 1fr auto auto 1fr;
  grid-template-columns: 1fr 8fr;
  grid-template-areas:
  "topnav topnav"
  "title title"
  "body body"
  "footer footer"
}

.topnav {
  background-color: #8D8741;
  padding-top: 16px;
  padding-bottom: 15px;
  grid-area: topnav;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "nav search"
}

.nav {
  grid-area: nav;
  background-color: #8D8741;
}

/*decorate links in the topnav*/
.nav a {
  text-decoration: none;
  color: #F3E0DC;
  padding: 16px;
  font-size: 17px;
  text-align: center;
}

/*change color of link when hovered over*/
.nav a:hover {
  background-color: #F3E0DC;
  color: black;
}

/*set active link to be blue*/
.nav a.active {
  background-color: #4285F4;
  color: #F3E0DC;
}

/*offset the links from the left edge of the screen*/
.nav a.first {
  margin-left: 40px;
}

.search  {
  background-color: #8D8741;
  grid-area: search;
}

.title {
  border-bottom: solid 1px gray;
  grid-area: title;
  background-repeat: no-repeat;
  font-family: 'Playfair Display', serif;
    font-weight: 900;
    line-height: 46px;
    font-size: 35px;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 20px;
    text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "maintitle"
  "subtitle"
  "subtitlempty"
}

.maintitle {
  grid-area: maintitle;
}

.subtitle {
  grid-area: subtitle;
  font-family: 'Alice', serif;
   font-size: 18px;
   font-weight: normal;
   line-height: 23px;
   padding: 20px;
}

.subtitlempty {
  grid-area: subtitlempty;
  padding-bottom: 34px;
}

.body {
  background-color: none;
  grid-area: body;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "title title"
  "body1 body2"
  "imgcap imgcap"
  "howmade howmade"
}

.body1 {
  border-radius: 25px;
  margin: 40px;
  padding: 10px;
  background-color: #DAAD86;
  grid-area: body1;
}

.body2 {
  border-radius: 25px;
  margin: 40px;
  padding: 10px;
  background-color: #DAAD86;
  grid-area: body2;
}

.imgcap {
  grid-area: imgcap;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "img1 cap img2"
}

.img1 {
  padding: 15px;
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
  grid-area: img1;
  padding-left: 140px;
}

#US {
  display: block;
    max-width: 100%;
    height: auto;
}

.cap {
  border-radius: 25px;
  padding: 15px;
  grid-area: cap;
  background-color: #DAAD86;
  padding-bottom: 90px;
}

.img2 {
  padding: 15px;
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
  grid-area: img2;
}

#Africa {
  display: block;
    max-width: 100%;
    max-height: 100%;
}

.howmade {
  grid-area: howmade;
  background-color: #DAAD86;
  margin: 40px;
  border-radius: 25px;
  padding: 10px;
}

.howmade h2 {
  text-align: center;
}


.footer {
  border-top: solid 1px gray;
  background-color: #FBEEC1;
  grid-area: footer;
  box-shadow: 0 50vh 0 50vh #FBEEC1;
}

/*
#8D8741 green
#659DBD blue
#DAAD86 light tan
#BC986A brownish tan
#FBEEC1 really light tan
#F3E0DC cremay white
pic links:
https://community.simtropolis.com/forums/topic/45219-green-city/
https://c-parity.com/smart-mobility-going-smart-green-and-safe/green-city/
https://geology.com/articles/satellite-photo-earth-at-night.shtml
https://whyelectricitymatters.com/2017/10/06/great-news-afdb-issues-first-light-power-africa-bond/
http://www.flanderstoday.eu/business/flemish-business-angels-support-energy-kiosks-africa
http://www.bobfreling.com/cgi-bin/mt/mt-search.cgi?tag=Africa
https://www.independent.co.uk/news/world/asia/air-pollution-in-china-killing-4000-people-every-day-10455409.html
https://www.shutterstock.com/video/clip-2269382-stock-footage-air-pollution-coal-burning-power-plant-p.html
*/
