
/* default all pading and margin to 0px*/
*   {
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url(UN_Electricity_project_backgroundPic.jpg);
}

.wrapper  {
  display: grid;
  grid-template-rows: 1fr 1fr auto 1fr;
  grid-template-columns: 1fr 8fr;
  grid-template-areas:
  "title title"
  "nav nav"
  "sidebar body"
  "footer footer"
}

.title {
  background-color: #8D8741;
  grid-area: title;
}

.nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "topnav search"
}

.topnav  {
  background-color: #8D8741;
  grid-area: topnav;
}

/* style links in topnav*/
.topnav a {
  padding: 15px;
}

.search  {
  background-color: #8D8741;
  grid-area: search;
}

.sidebar {
  background-color: #DAAD86;
  grid-area: sidebar;
}

.body {
  background-color: #DAAD86;
  grid-area: body;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "body1 body2"
}

.body1 {
  margin: 40px;
  background-color: #DAAD86;
  grid-area: body1;
}

.body2 {
  margin: 40px;
  background-color: #DAAD86;
  grid-area: body2;
}

.footer {
  background-color: #FBEEC1;
  grid-area: footer;
}

/*
#8D8741 green
#659DBD blue
#DAAD86 light tan
#BC986A brownish tan
#FBEEC1 white

pic links:
https://community.simtropolis.com/forums/topic/45219-green-city/



*/
